    $lightestFontWeight: 100 !default;
    $baseFontWeight: 400 !default;
    $heaviestFontWeight: 700 !default;

    $shiftedFontVoice: oblique 15deg !default;
    $baseFontVoice: normal !default;
    $alternateFontVoice: italic !default;

    $fontWeightVarMap: (
        "lightestFontWeight": $lightestFontWeight,
        "baseFontWeight": $baseFontWeight,
        "heaviestFontWeight": $heaviestFontWeight,
    );

    $fontVoiceVarMap: (
        "shiftedFontVoice": $shiftedFontVoice,
        "baseFontVoice": $baseFontVoice,
        "alternateFontVoice": $alternateFontVoice,
    );