$idleTextLineStyle: dotted !default;
$activeTextLineStyle: solid !default;
$idleTextDecoration: $idleTextLineStyle underline 2px !default;

$interactionsVarMap: (
    "idleTextLineStyle": $idleTextLineStyle,
    "activeTextLineStyle": $activeTextLineStyle,
    "idleTextDecoration": $idleTextDecoration,
);