$baseTextQuotes: "\201C""\201D""\2018""\2019" !default;
$baseQuoteBorder: 10px solid $colorNeutralLighter !default;
$smallQuoteBorder: 5px solid $colorNeutralLight !default;

$quotesVarMap: (
    "baseTextQuotes": $baseTextQuotes,
    "baseQuoteBorder": $baseQuoteBorder,
    "smallQuoteBorder": $smallQuoteBorder
);