$bigSpacingHorizontal: 1.618rem !default;
$baseSpacingHorizontal: .618rem !default;

$bigSpacingVertical: 1.618em !default;
$baseSpacingVertical: .618em !default;

$spacingVarMap: (
    "bigSpacingHorizontal": $bigSpacingHorizontal,
    "baseSpacingHorizontal": $baseSpacingHorizontal,
    "bigSpacingVertical": $bigSpacingVertical,
    "baseSpacingVertical": $baseSpacingVertical,
);