$colorNeutralDarker: rgb(55,55,55) !default;
$colorNeutralDark: rgb(110,110,110) !default;
$colorNeutral: rgb(165,165,165) !default;
$colorNeutralLight: rgb(192.5,192.5,192.5) !default;
$colorNeutralLighter: rgb(220,220,220) !default;
$colorCool: rgb(110,165,220) !default;
$colorCoolDarker: rgb(110,165,193) !default;

$colorPaletteVarMap: (
    "colorNeutralDarker" : $colorNeutralDarker,
    "colorNeutralDark": $colorNeutralDark,
    "colorNeutral": $colorNeutral,
    "colorNeutralLight": $colorNeutralLight,
    "colorNeutralLighter": $colorNeutralLighter,
    "colorCool": $colorCool,
    "colorCoolDarker": $colorCoolDarker
 );


$baseTextColor: $colorNeutralDarker !default;
$baseEditorialTextColor: $colorNeutralDark !default;
$baseLinkColor: $colorCool !default;
$baseLinkColorHover: $colorCoolDarker !default;
$baseInlineBorderColor: $colorNeutralLight !default;

$baseTextLineColor: $baseTextColor !default;
$alertTextLineColor: rgb(255, 0, 0) !default;

$baseQuoteBackgroundColor: 165, 165, 165, !default;

$colorBaseVarMap: (
    "baseTextColor": $baseTextColor,
    "baseEditorialTextColor": $baseEditorialTextColor,
    "baseLinkColor": $baseLinkColor,
    "baseLinkColorHover": $baseLinkColorHover,
    "baseInlineBorderColor": $baseInlineBorderColor,
    "baseTextLineColor": $baseTextLineColor,
    "alertTextLineColor": $alertTextLineColor,
    "baseQuoteBackgroundColor": $baseQuoteBackgroundColor
);