$colorNeutralDarker: rgb(55,55,55);
$colorNeutralDark: rgb(110,110,110);
$colorNeutral: rgb(165,165,165);
$colorNeutralLight: rgb(192.5,192.5,192.5);
$colorNeutralLighter: rgb(220,220,220);
$colorCool: rgb(110,165,220);
$colorCoolDarker: rgb(110,165,193);

$colorPaletteVarMap: (
    "colorNeutralDarker" : $colorNeutralDarker,
    "colorNeutralDark": $colorNeutralDark,
    "colorNeutral": $colorNeutral,
    "colorNeutralLight": $colorNeutralLight,
    "colorNeutralLighter": $colorNeutralLighter,
    "colorCool": $colorCool,
    "colorCoolDarker": $colorCoolDarker
 );


$baseTextColor: $colorNeutralDarker;
$baseEditorialTextColor: $colorNeutralDark;
$baseLinkColor: $colorCool;
$baseLinkColorHover: $colorCoolDarker;
$baseInlineBorderColor: $colorNeutralLight;

$baseTextLineColor: $baseTextColor;
$alertTextLineColor: rgb(255, 0, 0);

$baseQuoteBackgroundColor: 165, 165, 165, ;

$colorBaseVarMap: (
    "baseTextColor": $baseTextColor,
    "baseEditorialTextColor": $baseEditorialTextColor,
    "baseLinkColor": $baseLinkColor,
    "baseLinkColorHover": $baseLinkColorHover,
    "baseInlineBorderColor": $baseInlineBorderColor,
    "baseTextLineColor": $baseTextLineColor,
    "alertTextLineColor": $alertTextLineColor,
    "baseQuoteBackgroundColor": $baseQuoteBackgroundColor
);