$baseFontFamily: Georgia, 'Times New Roman', serif !default;
$titleFontFamily: Helvetica, Arial, sans-serif !default;
$codeFontFamily: monospace !default;

$fontFamilyVarMap: (
    "baseFontFamily": $baseFontFamily,
    "titleFontFamily": $titleFontFamily,
    "codeFontFamily": $codeFontFamily,
);