
$baseLineHeight: 1.618 !default;
$smallLineHeight: 1.2 !default;

$lineHeightVarMap: (
    "baseLineHeight": $baseLineHeight,
    "smallLineHeight": $smallLineHeight
);

$baseFontSize: 1rem !default;

$baseTextSize: 1 * $baseFontSize !default;
$biggestTextSize:  1.3 * $baseTextSize !default;
$biggerTextSize: 1.2 * $baseTextSize !default;
$bigTextSize: 1.1 * $baseTextSize !default;
$smallTextSize: .8 * $baseTextSize !default;
$smallerTextSize: .75 * $baseTextSize !default;
$smallestTextSize: .618 * $baseTextSize !default;

$textSizeVarMap: (
    "baseTextSize": $baseTextSize,
    "biggestTextSize": $biggestTextSize,
    "biggerTextSize": $biggerTextSize,
    "bigTextSize": $bigTextSize,
    "smallTextSize": $smallTextSize,
    "smallerTextSize": $smallerTextSize,
    "smallestTextSize": $smallestTextSize,
);

$baseTitleSize: 1.5em !default;
$biggestTitleSize: 2.617924em !default;
$bigTitleSize: 1.618em !default;
$smallTitleSize: $biggestTextSize !default;
$smallerTitleSize: $biggerTextSize !default;
$smallestTitleSize: $bigTextSize !default;

$titleSizeVarMap: (
    "baseTitleSize": $baseTitleSize,
    "biggestTitleSize": $biggestTitleSize,
    "bigTitleSize": $bigTitleSize,
    "smallTitleSize": $smallTitleSize,
    "smallerTitleSize": $smallerTitleSize,
    "smallestTitleSize": $smallestTitleSize,
);